html, body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--secondary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

.name {
  color: var(--extraLightGray);
  font-weight: bold;
}

.username {
  color: var(--lightGray);
}

.description {
  color: var(--extraLightGray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --primary: #1da1f2;
  --secondary: #14171A;
  --darkGray: #202327;
  --lightGray: #AAB8C2;
  --extraLightGray: #E1E8ED;
  --hiperLightGray: #F5F8FA;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #4E5157
}